@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");

/* main here */

.main {
  height: 100vh;
  /* background: red; */
}

/* wrap-choosefile here */

.input-audio {
  margin-top: 80px;
}

/* wrap-choosefile ends here */

/* main ends here */

/* wrap-control here*/

.wrap-control {
  margin-bottom: 42px;
}

/* wrap-control ends here */

/* wrap-img */

.wrap-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
}

.wrap-img {
  /* background-color: red; */
  width: 400px;
  height: 400px;
  border-radius: 100%;
  border: 2px solid white;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.7);
}

.wrap-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrap-img::before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: whitesmoke;
  top: 150px;
  right: 150px;
  position: absolute;
  z-index: 10;
  border-radius: 100%;
  border: 30px solid #212129;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-element {
  animation: rotate 72s linear infinite;
}

/* wrap-img ends here */

/* input here */
input[type="file"] {
  width: 50%;
  max-width: 100%;
  color: whitesmoke;
  padding: 0;
  background: #444;
  border-radius: 16px;
  border: 1px solid white;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #1ea54c;
  padding: 10px 20px;
  border-radius: 12px 0 0 12px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

/* input ends here */

/* control here */

.custom-audio {
  background-color: #f5f5f5;
  border: 2px solid #ccc;
  border-right: none;
  border-radius: 100px 0 0 100px;
  padding: 8px;
  width: 50%;
}

.custom-audio::-webkit-media-controls-panel {
  background-color: #f5f5f5;
}

.custom-audio::-webkit-media-controls-play-button,
.custom-audio::-webkit-media-controls-volume-slider {
  color: #007bff;
}

.custom-audio::-webkit-media-controls-current-time-display,
.custom-audio::-webkit-media-controls-time-remaining-display {
  color: #333;
}

/* control ends here */

/* changespeed here */

.changespeed {
  border: 2px solid #ccc;
  border-left: none;
  background-color: #f5f5f5;
  width: 120px;
  text-align: center;
  border-radius: 0 100px 100px 0;
}

/* changesspeed ends here */

.signature {
  color: white;
  position: absolute;
  top: 22px;
  left: 22px;
  font-family: "Dancing Script", cursive;
}
